body {
    background-image: url("/unit_4_game/assets/shutterstock_706652485.jpg");
    
}
p{ 
    padding: 1em;
}
.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50em; */

}

.headertext{
    font-family: 'Cabin Sketch', cursive;
    font-size: 6em; 
}
.howto{
    font-family: 'Archivo Black', sans-serif;

}
.button_box{
    display: flex;
   justify-content: center;
   height: 50%;
}
.lowerBox{
display:flex;
justify-content: space-evenly;

}
.winsLosses{ 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    min-width: 15%;


}

.scorecontain{ 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    min-width: 15%;
}



#start_button{
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em; 
    font-weight:bold;
    margin-top: 1em;
    

}
 #wins, #losses {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    margin-bottom: .5em;
    

}
#newComputerPickNumber{

    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    margin-bottom: .5em;
    min-height: 10%;


}
#userTotalScore{

    font-family: 'Archivo Black', sans-serif;
    font-size: 4em;


}